{% extends 'base.html.twig' %}

{% block header %}
    {% include 'global/_header.html.twig' %}
{% endblock %}

{% block body %}
    <div class="p-5 text-center">
        <div class="col-10 container-fluid">
            {% if errors %}
                {% for error in errors %}
                    <div class="alert alert-danger" style="background: rgba(255, 0, 0, 0.5)">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endif %}
            <table id="data_table" class="table data-fixed-columns table-dark table-striped">
                <colgroup>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created At</th>
                    <th scope="col">Updated At</th>
                    <th scope="col">Action</th>
                </tr>
                </colgroup>
                <tbody>
                <tr class="mb-50">
                    <form method="post" action="{{ path('create')}}">
                        <th scope="row"></th>
                            <td><input class="form-control w-100 text-dark"  id="title" name="title" type="text"></td>
                            <td><input class="form-control w-100 text-dark" name="description" type="text"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <button type="submit" name="create" class="btn btn-success">Create</button>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path('create_fake', { number: 1}) }}" class="btn btn-success">Create 1 Fake</a>
                                    <a href="{{ path('create_fake', { number: 20}) }}" class="btn btn-success">Create 20 Fake</a>
                                {% endif %}
                            </div>
                        </td>
                    </form>
                </tr>

                {% for task in tasks %}
                    <tr class="">
                        <th scope="row">{{ task.id }}</th>
                        <td>{{ task.title }}</td>
                        <td>{{ task.description }}</td>
                        <td>{{ task.status.value }}</td>
                        <td>{{ task.createdat|date }}</td>
                        <td>{{ task.updatedAt|date }}</td>
                        <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
                                    <a data-method="patch" href="{{ path('done', { id: task.id}) }}" class="btn btn-primary">Done</a>
                                    <a data-confirm="Are you sure?" rel="nofollow" data-method="delete" href="{{ path('remove', { id: task.id}) }}" class="btn btn-primary">Delete</a>
                                    <a href="{{ path('edit', { id: task.id}) }}" class="btn btn-primary">Edit</a>
                                </div>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block footer %}
    {% include 'global/_footer.html.twig' %}
{% endblock %}